body{
    background-color: rgb(243, 194, 151);
}
h1{
    color: rgb(243, 194, 151);
    background-color: rgb(133, 34, 34);
    font-family: 'Times New Roman', Times, serif;
}
a{
    color: red;
}
#inicio:hover{
    color: white;
    background-color: darkred;
    font-size: 25px;
}
.titulos{
    background-color: red;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.sql{
    color: orange;
}
